{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Ecoblog</title>
{% endblock %}

{%block destaque %}

{% endblock %}

{% block conteudo %}
<div class="text-center">
  <h1 class="display-5">EcoBlog </h1>
  <br>
  <p class="lead text-justify" >
   A reciclagem de lixo eletrônico
  </p>
</div>
  



  <div class="clearfix">
    <img src="{% static 'img/imagemblog1.jpeg' %}" class=" float-md-end" alt="lixo" width="238px" height="212px">
  
    <p class="lead text-justify">
      O processo de reciclagem do lixo eletrônico é fundamental
      para diminuir ou amenizar os danos causados pela indústria.
    </p>
  
    <p class="lead text-justify">
      Ele começa com uma triagem em que são separados os produtos que ainda podem ser usados ou não. Em seguida, os aparelhos sem uso são desmontados.
      A carcaça, a bateria, as placas de circuito e os vidros recebem a destinação adequada de acordo com os seus componentes.
    </p>
  
    <p class="lead text-justify">
      
      Além é um processo complexo que envolve a separação de materiais valiosos, como ouro, prata e cobre, dos materiais tóxicos, como chumbo, mercúrio e cádmio. A triagem e separação dos componentes é a primeira etapa do processo. Nessa etapa, os equipamentos são divididos em categorias, como eletrodomésticos, eletroeletrônicos, informática e telefonia
      Em seguida, os aparelhos são desmontados e separados em categorias de materiais, como plástico, vidro, placas e metais. Depois disso, os materiais são triturados e separados por cada material de acordo com a sua densidade. Por fim, os materiais são processados e vendidos
      Esse processo é fundamental para proteger o meio ambiente e a saúde humana dos impactos negativos causados pelo descarte incorreto desses resíduos tóxicos. No entanto, a reciclagem de baterias pode ser um problema, pois a reciclagem de chumbo não é tão boa assim. Além disso, os equipamentos elétricos e eletrônicos possuem diversos componentes tóxicos em suas estruturas. Se descartados de maneira incorreta, esses resíduos tóxicos podem contaminar o solo e os lençóis freáticos, colocando em risco a saúde pública
    </p>

  
    
    
  </div>


    {% endblock %}