{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Ecoblog</title>
{% endblock %}

{%block destaque %}

{% endblock %}

{% block conteudo %}
<div class="text-center">
  <h1 class="display-5">EcoBlog </h1>
  <br>
  <p class="lead text-justify">
    Impactos ambientais
  </p>

<div>
 


  <div class="container">
    <div class="row">
      <div class="col">
        <P class = "lead text-justify">
          O descarte incorreto de lixo eletrônico pode causar diversos impactos ambientais, como a contaminação do solo, da água e do ar. Além disso, os equipamentos elétricos e eletrônicos possuem diversos componentes tóxicos em suas estruturas. Se descartados de maneira incorreta, esses resíduos tóxicos podem contaminar o solo e os lençóis freáticos, colocando em risco a saúde pública
        </P>
    <div class="container">
      <div class="row">
        <div class="col ">
          <img src="{% static 'img/deondevem.jpeg' %}"  class =" justify-content-start"alt="..." >
        </div>

       
    


      </div>
      <div class="col">
        <p class = "lead text-justify">A reciclagem de eletrônicos pode gerar empregos e renda para a população local. No Brasil, a reciclagem de eletrônicos pode gerar 40 mil empregos diretos e no mí
          nimo R$ 800 milhões ao ano Entre os maiores produtores de lixo eletrônico no mundo, o Brasil apenas é superado pela China, Estados Unidos, Índia e Japão. </p>

          <br>
  
        <div class="col">
          <img src="{% static 'img/deondevem2.jpeg' %}"  alt="..." >
    
        </div>
  
      </div>


    </div>






  
    </div>

  

    {% endblock %}