{% extends 'modelo.html' %}

{% block titulo %}
<title> Coleta </title>
{% endblock %}

{% block destaque %}
<h1 class="display-1 fw-bolder text-white mb-2"> Você Precisa:</h1>

{% endblock %}
{% block conteudo %}
<div class="d-grid col-md-10 mx-auto">
<h5 class="display-8 fw-bolder text-black mb-5 mx-auto">Descobrir Empresas confiaveis de coleta de lixo eletrônico que atendem na sua região?</h5>
<h5 class="display-8 fw-bolder text-black mb-5 mx-auto">Agendar a coleta do seu lixo eletrônico?</h5>
<h5 class="display-8 fw-bolder text-black mb-5 mx-auto">Controlar o histórico de coleta de lixo da sua empresa ou residência?</h5>
<h5 class="display-8 fw-bolder text-black mb-3 mx-auto ">Cadastre-se no link abaixo e acesse nosso banco de dados de forma gratuita.</h5>
<div class="d-grid gap-2 col-6 mx-auto">
<a class="btn btn-outline-primary btn-lg mb-3 mx-auto" href="#">Novo Usuário</a>
</div>
<h5 class="display-8 fw-bolder text-black mb-3 mx-auto">Você já tem cadastro? Então faça login para usurfluir dos nossos serviços.</h5>
<div class="d-grid gap-2 col-6 mx-auto">
<a class="btn btn-outline-success btn-lg mb-3 mx-auto" href="{% url 'login' %}">Login</a>
</div>
</div>
{% endblock %}