<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Empresas para coleta
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>CEP</th>
                        <th>Contato</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Empresa</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>CEP</th>
                        <th>Contato</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Reciclo info sales</td>
                        <td>Rua Otavio de Moura , 63</td>
                        <td>Vila Carolina</td>
                        <td>02724-000</td>
                        <td>+55 11 93145-2164 </td>
                    </tr>
                    <tr>
                        <td>Sobreira - Reciclagem de lixo eletronico</td>
                        <td>Rua de triunfo, 203 </td>
                        <td>Santa Efigênia</td>
                        <td>01212-010</td>
                        <td>(11) 97796-0596</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>